
<div class="formulario-reportes">
    <h2>Consultar paquetes disponibles por destino</h2>

    <form (ngSubmit)="obtenerPaquetesDisponibles()">
        <div class="campos-fechas">
            <div class="campo">
                <label for="fechaFin">Nombre Destino:</label>
                <input  [(ngModel)]="destino" type="text" id="nombre_destino" name="nombre_destino" required>
            </div>
        </div>

        <div class="botones">
            <button   type="submit" class="btn-ventas">Consultar</button>
        </div>


    </form>
</div>

<div class="reporte-ventas-wrapper">
  <section class="reporte-ventas-card">
    <header class="reporte-ventas-header">
      <h2>Reporte de Paquetes Disponibles por Destino</h2>
      <p>Paquetes disponibles en un destino específico.</p>
    </header>

    <div *ngIf="paquetes.length > 0" class="reporte-ventas-scroll">
      <table class="reporte-ventas-table">
        <thead>
          <tr>
            <th>Nombre Paquete</th>
            <th>Duracion</th>
            <th>Descripcion</th>
            <th>Precio Público</th>
            <th>Capacidad</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of paquetes">
            <td>{{ p.nombre_paquete }}</td>
            <td>{{ p.duracion }}</td>
            <td>{{ p.descripcion }}</td>
            <td>{{ p.precio_publico }}</td>
            <td>{{ p.capacidad }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>
</div>



<app-menu-operaciones></app-menu-operaciones>
