<app-menu-admin></app-menu-admin>

<div class="formulario-reportes">
    <h2>Ingresar las fechas a buscar</h2>

    <form>
        <div class="campos-fechas">
            <div class="campo">
                <label for="fechaInicio">Fecha de inicio:</label>
                <input [(ngModel)]="fechaInicio" type="date" id="fechaInicio" name="fechaInicio" required>
            </div>

            <div class="campo">
                <label for="fechaFin">Fecha de fin:</label>
                <input [(ngModel)]="fechaFin" type="date" id="fechaFin" name="fechaFin" required>
            </div>
        </div>

        <div class="botones">
            <button (click)="mostrarReporte('ventas')" type="button" class="btn-ventas">Ventas en intervalo de tiempo</button>
            <button (click)="mostrarReporte('cancelaciones')" type="button" class="btn-cancelaciones">Cancelaciones en intervalo de tiempo</button>
            <button (click)="mostrarReporte('ganancias')" type="button" class="btn-ventas">Ganancias en intervalo de tiempo</button>
            <button (click)="mostrarReporte('agenteMasVentas')" type="button" class="btn-cancelaciones">Agente con mas ventas en intervalo de tiempo</button>
        </div>
        <br>
        <div class="botones">
            <button (click)="mostrarReporte('agenteMasGanancias')" type="button" class="btn-ventas">Agente con mas ganancias en intervalo de tiempo</button>
            <button (click)="mostrarReporte('paqueteMasVendido')" type="button" class="btn-cancelaciones">Paquete mas vendido en intervalo de tiempo</button>
            <button (click)="mostrarReporte('paqueteMenosVendido')" type="button" class="btn-ventas">Paquete menos vendido en intervalo de tiempo</button>
            <button (click)="mostrarReporte('destino')" type="button" class="btn-cancelaciones">Reservaciones por destino en intervalo de tiempo</button>
        </div>

    </form>
</div>


<app-reporte-ventas
    *ngIf="tipoReporte === 'ventas'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-ventas>

<app-reporte-cancelaciones
    *ngIf="tipoReporte === 'cancelaciones'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-cancelaciones>

<app-reporte-ganancias
    *ngIf="tipoReporte === 'ganancias'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-ganancias>

<app-reporte-ganancias
    *ngIf="tipoReporte === 'ganancias'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-ganancias>

<app-reporte-agente-ventas
    *ngIf="tipoReporte === 'agenteMasVentas'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-agente-ventas>

<app-reporte-agente-ganancias
    *ngIf="tipoReporte === 'agenteMasGanancias'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-agente-ganancias>

<app-reporte-paquete-mas
    *ngIf="tipoReporte === 'paqueteMasVendido'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-paquete-mas>

<app-reporte-paquete-menos
    *ngIf="tipoReporte === 'paqueteMenosVendido'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-paquete-menos>

<app-reporte-destino
    *ngIf="tipoReporte === 'destino'"
    [fechaInicio]="fechaInicio"
    [fechaFin]="fechaFin">
</app-reporte-destino>